<div class="row">
  <div class="columns large-12">
    <h3>{{title(state.step, state.total)}}</h3>

    Consider the following two options:

    <dl>
      <dt>Treatment A</dt>
      <dd>
        <label ng-init="a = state.problem.criteria[state.criterionA]">{{a.title}} =  {{pvf.worst(a) | number}} {{a.unitOfMeasurement}}</label>
        <label ng-init="b = state.problem.criteria[state.criterionB]">{{b.title}} =  {{pvf.best(b) | number}} {{b.unitOfMeasurement}}</label>
      </dd>

      <dt>Treatment B</dt>
      <dd>
        <label ng-init="a = state.problem.criteria[state.criterionA]">{{a.title}} =  {{pvf.inv(a)(state.cutoff) | number}} {{a.unitOfMeasurement}}</label>
        <label ng-init="b = state.problem.criteria[state.criterionB]">{{b.title}} =  {{pvf.worst(b) | number}} {{b.unitOfMeasurement}}</label>
      </dd>
    </dl>


    Which of these options would you prefer:
    <form>
      <input type="radio" ng-model="state.choice" value="{{state.criterionB}}" id="criterion-b"><label for="criterion-b">Treatment A</label><br>
      <input type="radio" ng-model="state.choice" value="{{state.criterionA}}" id="criterion-a"><label for="criterion-a">Treatment B</label>
    </form>

  </div>
</div>
