<div class="row">
  <div class="columns large-12">
    <h3>{{title(state.step, state.total)}}</h3>

    Consider the following two options:

    <dl>
      <dt>Treatment A</dt>
      <dd>
        <label>{{state.a.title}} = {{pvf.worst(state.a) | number}} {{state.a.unitOfMeasurement}}</label>
        <label>{{state.b.title}} = {{pvf.best(state.b) | number}} {{state.b.unitOfMeasurement}}</label>
      </dd>

      <dt>Treatment B</dt>
      <dd>
        <label>{{state.a.title}} = {{pvf.inv(state.a)(state.cutoff) | number}} {{state.a.unitOfMeasurement}}</label>
        <label>{{state.b.title}} = {{pvf.worst(state.b) | number}} {{state.b.unitOfMeasurement}}</label>
      </dd>
    </dl>


    Which of these options would you prefer:
    <form>
      <input type="radio" ng-model="state.choice" value="{{state.criterionB}}" id="criterion-b"><label for="criterion-b">Treatment A</label><br>
      <input type="radio" ng-model="state.choice" value="{{state.criterionA}}" id="criterion-a"><label for="criterion-a">Treatment B</label>
    </form>

  </div>
</div>
