<div>
  <div class="row">
    <div class="columns large-10">
      <h3>Informed Consent Form</h3>

      <p>This informed consent form is for the participants of the Melanoma Patient Network Europa 2015 meeting who have expressed their interest in participating in a focus group meeting to discuss methods to collect values about different outcomes associated with treatments of advanced cancer.</p>

      This Informed Consent Form has two parts:
      <ol>
        <li>Information Sheet (to share information about the focus group with you)</li>
        <li>Certificate of Consent (for signatures if you choose to participate)</li>
      </ol>
      <h4>Part 1: Information Sheet</h4>

      <h5>Introduction</h5>

      <p>The European Medicines Agency (EMA) is the regulatory body
        responsible for the evaluation and supervision of medicines in
        the EU. Patients and carers are regularly involved in many
        different aspects of the work at the EMA. Currently, the EMA is
        exploring different ways of collecting information about how
        people value the outcomes of medicines. The session that we are
        organizing at the Melanoma Patient Network Europe 2015 meeting
        is part of these activities.</p>

      <h5>Purpose of the session at the Melanoma Patient Network Europa 2015 meeting</h5>

      <p>Information about how patients and carers value the outcomes
        of medicines could be useful to the agency during its assessment
        of the benefits and risks of medicines. During the session at
        the Melanoma Patient Network Europe 2015 meeting, we want to
        explore whether a group discussion would be a suitable way to
        collect such information. In addition to inviting you to
        participate in this group discussion, we would also like to ask
        you to fill in an online questionnaire in the days before the
        meeting. This would then allow us to evaluate at the end of the
        session which of these two approaches for collecting preference
        information you think is more appropriate.</p>

      <h5>Procedures</h5>

      <p>We will provide information about different outcomes (both
        positive and negative) of medicines for the treatment of
        advanced cancer. We would like you to tell us how much you
        value each of these outcomes. Different people will feel that
        some of these outcomes are more important to them than others,
        so it’s important that you tell us about the values that are
        right for you personally. The information that we provide is
        not based on a specific medicine but rather tries to capture
        some of the general features of medicines for advanced cancer.
        It does not aim to cover all the care and treatments that are
        available and their outcomes and is not intended to replace
        the information and discussions needed to make informed
        decisions about treatment and care.</p>

      <h5>Duration</h5>

      <p>The session at the Melanoma Patient Network Europe 2015
        meeting is scheduled to last 90 minutes. Completing the online
        questionnaire will take you approximately 20 minutes.</p>

      <h5>Risks associated with participating in this activity</h5>

      <p>You may be uncomfortable thinking about some of the outcomes
        that we present and this could be upsetting for you. Please note
        that you do not have to answer any question or take part in the
        discussion if you don’t wish to do so, and that is also fine.
        You do not need to give us any reason for not responding to any
        question, or for refusing to take part in the group
        discussion.</p>

      <h5>Benefits from participating in this activity</h5>

      <p>There will be no direct benefit to you, but your
        participation is likely to help us and Melanoma Patient Network
        Europe to learn more about how the values of patients and carers
        can best be collected.</p>

      <h5>Reimbursements</h5>

      <p>Your participation to the focus group is entirely voluntary.
        EMA cannot provide any kind of reimbursement or incentive for
        you taking part in this activity.</p>

      <h5>Confidentiality</h5>

      <p>Via a questionnaire, we will collect information about how
        you value different outcomes in the treatment of advanced
        melanoma, but we will not collect any personal data. The
        information that you provide can therefore not be traced back to
        you as a person. All responses that we collect will be stored on
        a secure server that can only be accessed by authorized users
        inside the research team.</p>

      <p>For the focus group meeting, we will ask you and others in
        the group not to talk to people outside the group about what was
        said in the group. We will, in other words, ask each of you to
        keep what was said in the group confidential. You should know,
        however, that we cannot stop or prevent participants who were in
        the group from sharing things that should be confidential.</p>

      <h5>Sharing the results</h5>

      <p>The overall results will initially be shared between the
        European Medicines Agency and the Melanoma Patient Network
        Europe. The aggregated results from the questionnaire may also
        be published jointly by European Medicines Agency and the
        Melanoma Patient Network Europe so that other interested people
        may learn from the experience.</p>

      <h5>Right to refuse or withdraw</h5>

      <p>Your participation in this activity is entirely voluntary. It
        is your choice whether to participate or not. If you choose to
        participate, you may stop filling in the questionnaire or
        participating in the group discussion at any time.</p>

      <h5>Contact information</h5>

      <p>This focus group is being conducted by the European Medicines
        Agency in collaboration with the Melanoma Patient Network
        Europe. If you have any questions, concerns, or complaints about
        this activity, its procedures, and the risks and benefits, you
        can contact:
        <ul>
          <li>Nathalie Bere (European Medicines Agency; email: <a href="nathalie.bere@ema.europa.eu">nathalie.bere@ema.europa.eu</a>)</li>
          <li>Bettina Ryle (Melanoma Patient Network Europe, email: <a href="mailto:bettina.ryll@gmail.com">bettina.ryll@gmail.com</a>)</li>
        </ul>

        <h4>Part II: Certificate of Consent</h4>

        <p>I have been invited to participate in a focus group meeting
          and related questionnaire about how I value certain hypothetical
          outcomes in the treatment of advanced cancer.</p>

        <p>I have read the foregoing information, or it has been read to
          me. I have had the opportunity to ask questions about it and any
          questions I have been asked have been answered to my
          satisfaction. I consent voluntarily to be a participant in this
          activity.</p>

        <strong>Please click one of the options below to tell us you want to participate.</strong>
        <form>
          <input type="radio" ng-model="state.consent" id="consent-1" value="consent"><label for="consent-1">I consent voluntarily to be a participant in this activity</label><br>
          <input type="radio" ng-model="state.consent" id="consent-2" value="no-consent"><label for="consent-2">I do not consent to be a participant in this activity</label>
          <div class="info alert-box" ng-show="state.consent == 'no-consent'">
            The questionnaire and your participation in the focus group meeting
            cannot continue without your consent. If you do not want to
            participate, we thank you for your interest in our activity. You can now
            close the browser to exit the questionnaire.
          </div>
        </form>
        <br>
    </div>
  </div>
</div>
