<div class="row">
  <div class="columns large-10">
    <h3>Part 1: ordinal ranking of the outcomes</h3>

    <p>In this first part of the survey, you will be asked to consider
    a hypothetical treatment that performs relatively poorly with
    respect to each of the included outcomes.</p>

    <p>You will also be provided with a list of improvements that you
    can use to upgrade (step-by-step) the performance of this
    treatment until you have constructed a treatment that performs
    relatively well with respect to all these outcomes.</p>

    <p>The order in which you select these improvements determines how
    you value the different outcomes from most important to least
    important.</p>

  </div>
</div>
