<div class="row">
  <div class="columns large-10">

    <h3>Part 2: trade-off ratios</h3>

    <p>In the second part of the questionnaire, you will be asked to judge
      by how much the effect on one outcome needs to be improved to
      compensate for a worsening in the effect on another outcome by a
      specific amount.</p>

    <p>For example, consider two treatments A and B. Suppose
      that for treatment A the probability of surviving the first 12 months
      is 40% and the probability of severe side-effects is 10% and that for
      treatment B the probability of surviving the first 12 months is 50%
      and the probability of severe side-effects is 35%.</p>

    <p>Your task is to determine whether the increase in the probability of surviving the
      first 12 months from 40% to 50% is sufficient to offset the increase
      in the probability of severe side-effects from 10% to 35%. </p>
  </div>
</div>
