<h5>Trade-off questions</h5>
<p>Next we will ask trade-off questions.
  Trade-off questions are those where you will be asked to express by how much the performance of one criterion has to be improved to compensate for a worsening in the performance on another criterion by a specific amount.
  <img src="img/trade-off.png"></div>
</p>
<p>
  An example of a trade-off question is provided in the figure above. The situation that you are being asked to consider at the top of this question corresponds to a hypothetical treatment with a 4-month survival probability of 80% and a probability of severe side-effects of 10%.
  If you increase the chance of survival to 83%, then you accept that the probability of severe side-effects increases from 10% to 35%.
  <p>
    The alternative mentioned at the bottom of the question corresponds to another treatment with a probability of severe side-effects of 35%. Although this second treatment results in a higher probability of severe side-effects, you may still be willing to take this treatment if this increase in risk is being offset by a sufficiently large increase in survival. Your task is to provide the value of x so that the increase in the 4-month survival probability from 80% to x% is just sufficient to compensate for the increase in the probability of severe side-effects from 10% to 35%.
  </p>
