<h4>Personal information</h4>
<p>As a last step we will also collect some information about you. This will help us understand how the values about medicines might change depending on some of these things.

  Your participation is entirely voluntary. If you do decide to participate in this experience, the information you provide will be collected and handled anonymously. The overall results will be shared between the European Medicines Agency and the Melanoma Patient Network Europe. If the results are published, you will have access to them prior to publication.
</p>
