<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{servlet-context}}/css/mcda-ema.css" rel="stylesheet" type="text/css">

    <title>EMA Stakeholder Preference Elicitation</title>
    <script type="text/javascript">
     var models = {}
     var config = {
         _csrf_token : "{{csrf-token}}",
         _csrf_header : "X-CSRF-TOKEN",
     }
     var context = "{{servlet-context}}";
    </script>

    <script src="{{servlet-context}}bower_components/requirejs/require.js" data-main="{{servlet-context}}/js/main.js"></script>

  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#/">Stakeholder Preferences</a></h1>
        </li>
      </ul>
    </nav>

    <section>
      <div class="color-stripe"></div>
    </section>

    <div ng-if="error" class="row" ng-cloak>
      <div class="columns">
        <addis-alert type="alert" close="error.close()">{{error.code}} {{error.cause}}<span ng-show="error.error">&mdash; {{error.error}}</span></addis-alert>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="push"></div>
    {% block page-scripts %}
    {% endblock %}

  </body>
</html>
