{% extends "admin/base.html" %}
{% block content %}
<h2>Welcome to the admin panel</h2>
<hr>
<h3>Questionnaires</h3>
<table width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>#URLs</th>
      <th>#Finished</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% if questionnaires|length = 0 %}
    <tr><td colspan="6" class="text-center">You have no questionnaires yet.</td></tr>
    {% endif %}
    {% for questionnaire in questionnaires|sort-by:title %}
    <tr>
      <td><a href="{{servlet-context}}/questionnaire/{{questionnaire.id}}">{{questionnaire.title}}</a></td>
      <td>{{questionnaire.description}}</td>
      <td><a href="{{servlet-context}}/questionnaire/{{questionnaire.id}}/edit"><i class="fa fa-edit fa-tiny" /></a></td>
      <td><a href="{{servlet-context}}/questionnaire/{{questionnaire.id}}/edit"><i class="fa fa-list-ol fa-tiny" /></a></td>
      <td><a href="{{servlet-context}}/questionnaire/{{questionnaire.id}}/edit"><i class="fa fa-bar-chart fa-tiny" /></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{servlet-context}}/admin/new/edit" class="button success small">Create Questionnaire</a>
{% endblock %}
