{% extends "admin/base.html" %}
{% block content %}

<div class="row">
  <div class="large-6 large-centered columns">
    <form method="POST">
      <fieldset>
        <div class="row">
          <div class="large-12 columns">
            <input type="text" tabindex="1" name="id" placeholder="Username" class="{% if login-error %}error{% endif %}">
            {% if login-error %}
            <small class="error">{{login-error}}</small>
            {% endif %}
          </div>
        </div>
        <div class="row collapse">
          <div class="large-8 columns fourty">
            <input type="password" tabindex="2" name="pass" placeholder="Password">
          </div>
          <div class="large-3 offset-1 columns fourty">
            <input type="hidden" name="__anti-forgery-token" value="{{csrf-token}}">
            <input type="submit" tabindex="3" class="button expand postfix" value="Login">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
