{% extends "admin/base.html" %}
{% block content %}
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns clearfix last">
        <h2 class="left">{{questionnaire.title}}</h2>
        <ul class="button-group right" style="margin-top: 0.75em">
          <li><a href="{{servlet-context}}/admin/{{questionnaire.id}}/export-results" download="{{questionnaire.title}}_results.json"class="button secondary tiny">Export results</a></li>
          <li><a href="{{servlet-context}}/admin/{{questionnaire.id}}/export-urls" download="{{questionnaire.title}}_urls.txt" class="button secondary tiny">Export urls</a></li>
          <li><a href="{{servlet-context}}/admin/{{questionnaire.id}}/edit" class="button tiny">Edit</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <h3>Results</h3>
    <div class="row">
      <div class="large-12 columns">
        <table width="100%">
          <thead>
            <tr>
              <td>URL</td>
              <td>Last visited</td>
              <td>Last completed</td>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td><a href="{{servlet-context}}/{{result.url}}">{{result.url}}</a></td>
              <td>{{result.last_visited}}</td>
              <td>{{result.last_completed}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
